#!/usr/bin/env python3
PACKAGE = "mirror_live_node"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("box_cx", double_t, 0, "Box center X", -0.8, -10.0, 10.0)
gen.add("box_cy", double_t, 0, "Box center Y", -2.2, -10.0, 10.0)
gen.add("box_cz", double_t, 0, "Box center Z", 0.2, -10.0, 10.0)

gen.add("box_lx", double_t, 0, "Length X", 1.0989, 0.01, 10.0)
gen.add("box_ly", double_t, 0, "Length Y", 1.8981, 0.01, 10.0)
gen.add("box_lz", double_t, 0, "Length Z", 1.0, 0.01, 10.0)

gen.add("box_yaw", double_t, 0, "Yaw (rad)", -0.5024, -3.14, 3.14)

exit(gen.generate(PACKAGE, "cloud_filter_node", "FilterBox"))
