#!/usr/bin/env python
PACKAGE = "mirror_live_node"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("mirror_center_x", double_t, 0, "Mirror center X (in lidar frame)", 0.0, -10.0, 10.0)
gen.add("mirror_center_y", double_t, 0, "Mirror center Y (in lidar frame)", 0.306, -10.0, 10.0)
gen.add("mirror_yaw_deg", double_t, 0, "Mirror rotation around Z (degrees)", 31.6, -180.0, 180.0)

exit(gen.generate(PACKAGE, "mirror_live_node", "MirrorParams"))
